{% extends "index.html" %}

{% block content %}
    <h1>About Pixel Pitch</h1>
    
    <p>
    	The pixel pitch is the physical distance from one pixel to the next and is given in microns (µm).
    	It is equal to the size of a pixel, however the actual area that captures light may be slightly smaller.
    </p>
    
  	<h2>Articles</h2>
    
  <p>
  	<a href="http://www.clarkvision.com/articles/does.pixel.size.matter/">Digital Cameras: Does Pixel Size Matter? (by Roger N. Clark)</a>
  </p>
  
  <p>
  	<a href="http://reedhoffmann.com/size-matter-especially-with-pixels/">Size Matters, Especially with Pixels (by Reed Hoffmann)</a>
  </p>  
  
{% endblock %}