{% extends "index.html" %}

{% macro table(specs, without_pitch=False) %}
  <table class="table">
  	<thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Sensor Size</th>
	  		<th>Resolution</th>
	  	{% if not without_pitch %}
	  		<th>Pixel Pitch</th>
	  	{% endif %}
	  	</tr>
  	</thead>
  	<tbody>
    {% for spec in specs %}
    	<tr>
    		<td><a href="https://duckduckgo.com/?q={{ spec.spec.name|urlencode }}">{{ spec.spec.name }}</a></td>
    		<td>
    		{%- if spec.size %}
    			{{ spec.size[0]|round(1) }} x {{ spec.size[1]|round(1) }} mm
    		{% else %}
    			unknown
    		{% endif -%}
    		</td>
    		<td>
    		{%- if spec.spec.mpix %}
    			{{ spec.spec.mpix|round(1) }} MP
    		{% else %}
    			unknown
    		{% endif -%}
    		</td>
    	{% if not without_pitch %}
    		<td>
    		{%- if spec.pitch %}
    			{{ spec.pitch|round(1) }} µm
    		{% else %}
    			unknown
    		{% endif -%}
    		</td>
    	{% endif %}
    	</tr>
    {% endfor %}
	</tbody>
  </table>
{% endmacro %}

{% block content %}
    <h1>{{ title }}</h1>
    
  <p>
  	All camera data was retrieved from <a href="http://geizhals.at">http://geizhals.at</a>.
  	Note that sensor size and <a href="about.html">pixel pitch</a> may not be fully accurate in all cases.
  	As <a href="http://geizhals.at">http://geizhals.at</a> is a shopping site, duplicate entries
  	of the same camera may exist although care was taken to filter those out.
  	Currently, only cameras are displayed which are sold by at least one shop on 
  	<a href="http://geizhals.at">http://geizhals.at</a>.
  </p>
  
  <p>
  	Last update: {{ date|formatdate }}
  </p>
  
  {{ table(specs|selectattr('pitch')) }}
    
  {% set specs_nopitch = specs|rejectattr('pitch')|sort(attribute='spec.name') %}
  {% if specs_nopitch %}
  	<h2>Cameras with unknown pixel pitch</h2>
  
  	{{ table(specs_nopitch, without_pitch=True) }}
  {% endif %}

{% endblock %}

{% block js %}
<script>
	$(function(){
		$('.table').tablesorter({
			theme: 'bootstrap',
			headerTemplate: '{content} {icon}',
			widgets: ["uitheme"],
			sortInitialOrder: 'desc',
			sortRestart: true,
		});
	});
</script>
{% endblock %}